{{ define "main" }}
{{ partial "profile.html" . }}

<style>
  #list-page { max-width: 800px; }
  #list-page .title { width: 100%; font-size: 20px; }
</style>

<div id="list-page">
    <section class="item">
      <div>
        <h1 class="title"><a href="https://drive.google.com/file/d/1Tf7TpH3H6xEYDTCq61_4fbYuFr_PmDA0/view?usp=sharing" target="_blank" rel="noopener">AlphaMomentum: Design and Specification of a Momentum Strategy</a></h1>
      </div>
    </section>
    <section class="item">
      <div>
        <h1 class="title"><a href="https://drive.google.com/file/d/1dyU0lKu2BukgnQC3D24kfK0oM4uHwTBp/view?usp=sharing" target="_blank" rel="noopener">Intelligent Infrastructure: A People-Centric Framework for Enterprise Modernization</a></h1>
      </div>
    </section>
</div>
{{ end }}